<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on the A Friend Abroad application at the
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this application, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>